# AWS Elastic Beanstalk configuration

# Todo: upgrade to postgresql-96-devel when available via yum
# Required package for postgresql
packages:
  yum:
    postgresql95-devel: []

container_commands:
  01_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  10_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
  20_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true

# Path to wsgi.py
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: stornco/wsgi.py
